@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --link-bg: rgba(30, 30, 46, 0.5);
    --fg-primary: rgb(205, 214, 244);

    --menu-bg: rgba(127, 127, 127, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url("/resources/images/miku.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    backdrop-filter: blur(2px) brightness(0.35);

    font-family: "Inter", system-ui, sans-serif;
    color: var(--fg-primary);

    width: 100vw;
    min-height: 100vh;

    text-shadow: 0 0 5px black;
}

.container {
    position: absolute;
    padding: 10px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.demiomad {
    transition: scale ease 0.5s;
    box-shadow: 0 0 2px 0 black;
    display: inline-block;
}

.demiomad:hover {
    scale: 1.07;
}

.demiomad:active {
    scale: 1.02;
}

.heading {
    text-align: center;
}

.menu-button {
    cursor: pointer;
    transition: rotate ease 0.25s, scale ease 0.5s;
    box-shadow: 0 0 2px 2px black;
}

.menu-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu {
    margin-top: 10px;
    text-align: center;
    border-radius: 8px;
    background-color: var(--menu-bg);
    padding: 20px;
    backdrop-filter: blur(4px) saturate(150%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    min-width: 120px;
    transform: translate(-20px, -20px);
    transition: opacity 0.35s ease, translate 0.4s ease;
}

.menu-button:hover {
    scale: 1.05;
}

a:not(.not-button) {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px;
    background-color: var(--link-bg);
    border-radius: 8px;
    backdrop-filter: blur(5px) saturate(150%);
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: filter ease 0.25s;
}

a:not(.not-button):hover {
    filter: brightness(1.25);
}

.not-button {
    color: rgb(0, 190, 255);
}

.not-button:visited {
    color: rgb(0, 220, 255);
}

.go-back {
    margin: 10px;
    display: block;
    text-align: center;
    width: calc(100% - 20px);
}